[submodule ".registry"]
	path = .registry
	url = https://github.com/dieghernan/universe
	shallow = true
	branch = HEAD
[submodule "giscoR"]
	path = giscoR
	url = https://github.com/dieghernan/giscoR
	shallow = true
	registered = true
[submodule "mapSpain"]
	path = mapSpain
	url = https://github.com/rOpenSpain/mapSpain
	shallow = true
	registered = true
[submodule "igoR"]
	path = igoR
	url = https://github.com/dieghernan/igoR
	shallow = true
	registered = true
[submodule "geocoderlite"]
	path = geocoderlite
	url = https://github.com/dieghernan/geocoderlite
	shallow = true
	registered = true
[submodule "tidyBdE"]
	path = tidyBdE
	url = https://github.com/rOpenSpain/tidyBdE
	shallow = true
	registered = true
