[submodule ".registry"]
	path = .registry
	url = https://github.com/dieghernan/dieghernan.r-universe.dev
	branch = HEAD
[submodule "CatastRo"]
	path = CatastRo
	url = https://github.com/rOpenSpain/CatastRo
[submodule "CatastRoNav"]
	path = CatastRoNav
	url = https://github.com/rOpenSpain/CatastRoNav
[submodule "arcgeocoder"]
	path = arcgeocoder
	url = https://github.com/dieghernan/arcgeocoder
[submodule "cffr"]
	path = cffr
	url = https://github.com/ropensci/cffr
[submodule "climaemet"]
	path = climaemet
	url = https://github.com/rOpenSpain/climaemet
[submodule "crancache"]
	path = crancache
	url = https://github.com/r-lib/crancache
	registered = false
[submodule "geobounds"]
	path = geobounds
	url = https://github.com/dieghernan/geobounds
[submodule "giscoR"]
	path = giscoR
	url = https://github.com/rOpenGov/giscoR
[submodule "gitdevr"]
	path = gitdevr
	url = https://github.com/dieghernan/gitdevr
[submodule "igoR"]
	path = igoR
	url = https://github.com/dieghernan/igoR
[submodule "mapSpain"]
	path = mapSpain
	url = https://github.com/rOpenSpain/mapSpain
[submodule "nominatimlite"]
	path = nominatimlite
	url = https://github.com/dieghernan/nominatimlite
[submodule "pkgdev"]
	path = pkgdev
	url = https://github.com/dieghernan/pkgdev
[submodule "rasterpic"]
	path = rasterpic
	url = https://github.com/dieghernan/rasterpic
[submodule "remotes"]
	path = remotes
	url = https://github.com/r-lib/remotes
	registered = false
[submodule "resmush"]
	path = resmush
	url = https://github.com/dieghernan/resmush
[submodule "revdepcheck"]
	path = revdepcheck
	url = https://github.com/r-lib/revdepcheck
	registered = false
[submodule "rogtemplate"]
	path = rogtemplate
	url = https://github.com/rOpenGov/rogtemplate
[submodule "rostemplate"]
	path = rostemplate
	url = https://github.com/rOpenSpain/rostemplate
[submodule "tidyBdE"]
	path = tidyBdE
	url = https://github.com/rOpenSpain/tidyBdE
[submodule "tidyterra"]
	path = tidyterra
	url = https://github.com/dieghernan/tidyterra
